<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact</a></li>
        </nav>
    </header>
    <main>
        <h1>About Page</h1>
    </main>
    <footer>    
        Copyright  &copy; elk15 2023
    </footer>
</body>
</html>