<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="flex flex-col items-center min-h-screen">
    <header class="bg-violet-400 w-full text-white font-semibold text-xl p-3">
        <nav class="flex list-none justify-center md:gap-20 gap-10">
            <li class="hover:underline decoration-solid decoration-2">
                <a href="/">Home</a>
            </li>
            <li class="hover:underline decoration-solid decoration-2">
                <a href="/about">About</a>
            </li>
            <li class="hover:underline decoration-solid decoration-2">
                <a href="/contact-me">Contact Me</a>
            </li>
        </nav>
    </header>
    <main class="flex-1 bg-violet-100 w-full flex justify-center items-center text-neutral-700 text-2xl font-bold">
        <h1>Home Page</h1>
    </main>
    <footer class="bg-violet-400 w-full text-white font-semibold text-center p-2">    
        Copyright  &copy; elk15 2023
    </footer>
</body>
</html>